*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 67, 146);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(0, 31, 61);
    border-bottom: solid rgb(0, 0, 0) 2px;
    font-size: 16px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: cornflowerblue;
}

.links {
    display: flex;
    gap: 25px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: solid rgb(0, 0, 0) 2px;
    background-color: rgb(12, 91, 156);
    padding-top: 50px;
    padding-bottom: 50px;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px; /* Adicionando margem à esquerda da imagem */
}

.texto {
    height: 200px;
    width: 33%;
    text-align: justify;
    margin-right: 20px; /* Adicionando margem à direita do texto */
}

.texto h3 {
    font-size: 24px;
}

.texto p {
    font-size: 16px;
    margin-top: 15px;
}

.texto button {
    background-color: rgb(7, 67, 146);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: none;
    margin-top: 15px;
}

.texto button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.texto button:hover {
    background-color: rgb(9, 41, 131);
    cursor: pointer;
}

.conhecimentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conhecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(11, 95, 143);
}

.conhecimento img {
    width: 200px;
}

.conhecimento .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}